<html>
  <div >
    <h2>
      Login
    </h2>

    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText> 
      <label for="float-input">Username</label>
    </span>

    <br> <br> <br>

    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText> 
      <label for="float-input">Password</label>
    </span>

    <br> <br>

    <button pButton type="button" class = "login" (click)="login()" label="Enter"></button>

    <h3>
      New User
    </h3>

    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText> 
      <label for="float-input">Email</label>
    </span>

    <br> <br> 

    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText> 
      <label for="float-input">Username</label>
    </span>

    <br> <br>

    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText> 
      <label for="float-input">Password</label>
    </span>

    <br> <br>

    <button pButton type="button" class = "login" (click)="register()" label="Register"></button>

  </div>

</html>