html {
    background-image: url(chessScoutTop.png) ; 
    background-repeat: repeat-x;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: top;
  position:fixed;
  top:0;
  left:0;
  right:0;
 }

.headLabel{

  color: red;
}