html {
    background-image: url(chessScoutTop.png) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: top;
  position:fixed;
  top:0;
  left:0;
  right:0;

 }