<html>
  <div >
    <h1>
      Welcome to Chess Scout!
    </h1>
    <h2>
      Login
    </h2>

    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText> 
      <label for="float-input">Username</label>
    </span>

    <br> <br> <br>

    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText> 
      <label for="float-input">Password</label>
    </span>

    <br> <br>

    <button pButton type="button" (click)="onclick()" label="Enter"></button>

  </div>
</html>