h2 {
	font-size: 20px;
  color : white;
  margin-left: 24%;
  margin-top: 16%
}

h3 {
  font-size: 20px;
  color : white;
  margin-left: 24%;
  margin-top: 3%
}

html { 
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.ui-float-label{
	float: middle;
  color: white;
  margin-left: 17%;
}

.login{

  margin-left: 24%;
}


